extends layouts/main.jade
block body
    .home-forms.white-border
        img.img-responsive.img-rounded.logo(src="/images/logo/logo.png")
        form#signupForm(action="/signup" method="post" autocomplete="on")
            input.global-inputs.white-border.font-bitter#usernamesignup(name="usernamesignup" required="required" type="text" placeholder="Username")
            span#username

            input.global-inputs.white-border.font-bitter#passwordsignup(name="passwordsignup" required="required" type="password" placeholder="Password")
            span#password

            input.global-inputs.white-border.font-bitter#passwordsignup_confirm(name="passwordsignup_confirm" required="required" type="password" placeholder="Confirm password")
            span#confirm_password

            .game-classes
                label
                    input(type="radio" class="option-input radio noselect" name="class" value="warrior" checked="")
                    img.img-responsive.img-thumbnail(src="/images/classes/warrior.png")
                    span.font-bitter WARRIOR
                label
                    input(type="radio" class="option-input radio noselect" name="class" value="rogue")
                    img.img-responsive.img-thumbnail(src="/images/classes/rogue.png")
                    span.font-bitter ROGUE
                label
                    input(type="radio" class="option-input radio noselect" name="class" value="mage")
                    img.img-responsive.img-thumbnail(src="/images/classes/mage.png")
                    span.font-bitter MAGE

            a.to_register(href="/") Already registered?

            input.submit-btn.white-border.font-bitter(type="submit" value="Sign up")
